@use "@angular/material" as mat;
@use "./light_palette.scss" as lp;
@use "../common.scss";
@use "sass:map";

// Define a light theme
$light-primary: mat.define-palette(lp.$cust-light-primary-palette, A400);
$light-accent: mat.define-palette(lp.$cust-light-accent-palette);
$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $light-primary,
      accent: $light-accent,
    ),
    density: minimum,
  )
);

$light-color-scheme: (
  background: (
    // background: map.get(lp.$cust-light-primary-palette, A200),
    background: #f2e8d3
  ),
);

$light-theme: common.apply-extra-colors($light-theme, $light-color-scheme);

// generate theme
@include common.create-theme($light-theme);
