$cust-light-primary-palette: (
  50: #fdfcf9,
  100: #faf6f0,
  200: #f7f1e7,
  300: #f3ebdd,
  400: #f1e6d5,
  500: #eee2ce,
  600: #ecdfc9,
  700: #e9dac2,
  800: #e7d6bc,
  900: #e2cfb0,
  A100: #ffffff,
  A200: #eee2ce,
  A400: #fa746c,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$cust-light-accent-palette: (
  50: #eaedf2,
  100: #ccd2dd,
  200: #aab5c7,
  300: #8797b1,
  400: #6e80a0,
  500: #546a8f,
  600: #4d6287,
  700: #43577c,
  800: #3a4d72,
  900: #293c60,
  A100: #a7c4ff,
  A200: #74a1ff,
  A400: #417eff,
  A700: #286dff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
