$cust-light-primary-palette: (
  50: #edeef4,
  100: #d1d4e4,
  200: #b2b8d2,
  300: #939bbf,
  400: #7c85b2,
  500: #6570a4,
  600: #5d689c,
  700: #535d92,
  800: #495389,
  900: #374178,
  A100: #c8cfff,
  A200: #95a3ff,
  A400: #6277ff,
  A700: #4862ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);

$cust-light-accent-palette: (
  50: #ecebee,
  100: #d0ced4,
  200: #b1adb8,
  300: #918c9c,
  400: #7a7486,
  500: #625b71,
  600: #5a5369,
  700: #50495e,
  800: #464054,
  900: #342f42,
  A100: #b092ff,
  A200: #8c5fff,
  A400: #672cff,
  A700: #5413ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
