/* For use in src/lib/core/theming/_palette.scss */
$cust-dark-primary-palette: (
    50 : #e1eef1,
    100 : #b3d4dc,
    200 : #80b7c5,
    300 : #4d9aad,
    400 : #27859c,
    500 : #016f8a,
    600 : #016782,
    700 : #015c77,
    800 : #01526d,
    900 : #00405a,
    A100 : #8bd6ff,
    A200 : #58c4ff,
    A400 : #25b3ff,
    A700 : #0caaff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$cust-dark-accent-palette: (
    50 : #ffe8eb,
    100 : #ffc6cd,
    200 : #ffa1ac,
    300 : #ff7b8a,
    400 : #ff5e71,
    500 : #ff4258,
    600 : #ff3c50,
    700 : #ff3347,
    800 : #ff2b3d,
    900 : #ff1d2d,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffced0,
    A700 : #ffb4b8,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

