<mat-toolbar color="primary" class="toolbar">

  <ng-container *ngIf="(isHandset$ | async) == false; else mobileMenu">
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="inputSideNav.toggle()">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
  </ng-container>

  <ng-template #mobileMenu>
    <button mat-icon-button class="theme-icon" aria-label="Light theme" (click)="themeToggle()" id="theme-button">
      <div *ngIf="currentTheme === 'light-theme'; else elseBlock">
        <mat-icon>wb_sunny</mat-icon>
      </div>
      <ng-template #elseBlock>
        <div>
          <mat-icon>brightness_3</mat-icon>
        </div>
      </ng-template>
    </button>
  </ng-template>

  <span>Template App</span>
  <span class="header-spacer"></span>

  <ng-container *ngIf="(isHandset$ | async) == false; else mobileTheme">
    <button mat-icon-button class="theme-icon" aria-label="Light theme" (click)="themeToggle()" id="theme-button">
      <div *ngIf="currentTheme === 'light-theme'; else elseBlock">
        <mat-icon>wb_sunny</mat-icon>
      </div>
      <ng-template #elseBlock>
        <div>
          <mat-icon>brightness_3</mat-icon>
        </div>
      </ng-template>
    </button>
  </ng-container>

  <ng-template #mobileTheme>
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="inputSideNav.toggle()">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
  </ng-template>

</mat-toolbar>