.tablet-display .example-card {
  width: 100%;
  margin: 2;
  padding: 16px 0;
}

.tablet-display-card-title {
  padding: 0 0 0 8px;
}

.tablet-display-card-subtitle {
  padding: 0 0 0 8px;
}

.mat-grid-tile-content {
  padding: 10px;
}

.tablet-display-card-action {
    margin-right: 16px;
}