<div
  fxLayout="row wrap"
  fxLayout.lt-sm="column"
  fxLayoutGap="32px"
  fxLayoutAlign="flex-start"
>
  <app-main-card
    class="home-card"
    fxFlex="0 1 calc(33.3% - 32px)"
    fxFlex.lt-md="0 1 calc(50% - 32px)"
    fxFlex.lt-sm="100%"
    [title]="'Card'"
    [subTitle]="'SubTitle'"
  >
    <div body>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione a eos
        cumque minus placeat ducimus incidunt quas deserunt repudiandae harum
        nihil animi porro, totam itaque voluptatum unde debitis velit excepturi!
      </p>
      <br />
      <button mat-stroked-button>Basic</button>
      <button mat-stroked-button color="primary">Primary</button>
      <button mat-stroked-button color="accent">Accent</button>
      <button mat-stroked-button color="warn">Warn</button>
      <button mat-stroked-button disabled>Disabled</button>
      <a mat-stroked-button routerLink=".">Link</a>
    </div>
  </app-main-card>
  <app-main-card
    class="home-card"
    fxFlex="0 1 calc(33.3% - 32px)"
    fxFlex.lt-md="0 1 calc(50% - 32px)"
    fxFlex.lt-sm="100%"
    [title]="'Card'"
    [subTitle]="'SubTitle'"
  >
    <div body>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione a eos
        cumque minus placeat ducimus incidunt quas deserunt repudiandae harum
        nihil animi porro, totam itaque voluptatum unde debitis velit excepturi!
      </p>
      <br />
      <button mat-stroked-button>Basic</button>
      <button mat-stroked-button color="primary">Primary</button>
      <button mat-stroked-button color="accent">Accent</button>
      <button mat-stroked-button color="warn">Warn</button>
      <button mat-stroked-button disabled>Disabled</button>
      <a mat-stroked-button routerLink=".">Link</a>
    </div>
  </app-main-card>
  <app-main-card
    class="home-card"
    fxFlex="0 1 calc(33.3% - 32px)"
    fxFlex.lt-md="0 1 calc(50% - 32px)"
    fxFlex.lt-sm="100%"
    [title]="'Card'"
    [subTitle]="'SubTitle'"
  >
    <div body>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione a eos
        cumque minus placeat ducimus incidunt quas deserunt repudiandae harum
        nihil animi porro, totam itaque voluptatum unde debitis velit excepturi!
      </p>
      <br />
      <button mat-stroked-button>Basic</button>
      <button mat-stroked-button color="primary">Primary</button>
      <button mat-stroked-button color="accent">Accent</button>
      <button mat-stroked-button color="warn">Warn</button>
      <button mat-stroked-button disabled>Disabled</button>
      <a mat-stroked-button routerLink=".">Link</a>
    </div>
  </app-main-card>
  <app-main-card
    class="home-card"
    fxFlex="0 1 calc(33.3% - 32px)"
    fxFlex.lt-md="0 1 calc(50% - 32px)"
    fxFlex.lt-sm="100%"
    [title]="'Card'"
    [subTitle]="'SubTitle'"
  >
    <div body>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione a eos
        cumque minus placeat ducimus incidunt quas deserunt repudiandae harum
        nihil animi porro, totam itaque voluptatum unde debitis velit excepturi!
      </p>
      <br />
      <button mat-stroked-button>Basic</button>
      <button mat-stroked-button color="primary">Primary</button>
      <button mat-stroked-button color="accent">Accent</button>
      <button mat-stroked-button color="warn">Warn</button>
      <button mat-stroked-button disabled>Disabled</button>
      <a mat-stroked-button routerLink=".">Link</a>
    </div>
  </app-main-card>

</div>
